[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

# dev-specific requriements for local work
[packages]
django = "*"
python-webpack-boilerplate = "*"
crispy-bootstrap5 = "*"
django-environ = "*"
django-extensions = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-markdownify = "*"
pygments = "*"
pillow = "*"

[dev-packages]
