$placepython-orange: #e08631;
$placepython-black: #212121;
$placepython-light-gray: #f2f2f2;
$primary: $placepython-orange;
$secondary: $placepython-light-gray;
$navbar-light-active-color: $primary;
$font-family-sans-serif: source-sans-pro;
$headings-font-family: source-serif-4;
$headings-font-weight: 700;
$dark: $placepython-black;
$navbar-light-color: $placepython-black;
$navbar-light-hover-color: $placepython-orange;
